.calculator-body {
  text-align: center;
  background-color: rgb(104, 173, 167);
  margin-left: 250px;
  margin-right: 250px;
}

.result {
  background-color: rgb(223, 223, 182);
}

.button {
  padding: 10px;
}

.button:hover {
  background-color: rgb(98, 163, 158);
}

h1 {
  color: azure;
}

body {
  background-color: rgb(86, 92, 207);
  margin: 10%;
}
